<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="layout/layout">
<head>
	<title id="pageTitle">Spring MVC :: 401</title>
</head>
<body>
<div class="container" layout:fragment="content">
	<div class="row top-large-buffer"></div>
	<div class="row">
		<div class="col-md-12 col-md-offset-0">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>
						401
					</h4>
				</div>
				<div class="panel-body">
					<div>
						401
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
